@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('public/fonts/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu-BoldItalic';
  src: url('public/fonts/Ubuntu-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('public/fonts/Ubuntu-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('public/fonts/Ubuntu-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu-LightItalic';
  src: url('public/fonts/Ubuntu-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('public/fonts/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu-MediumItalic';
  src: url('public/fonts/Ubuntu-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('public/fonts/Ubuntu-Regular.ttf') format('truetype');
}
